*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('https://img3.akspic.ru/crops/8/1/5/4/34518/34518-avtomobil-sportivnyj_avtomobil-mercedes_benz_sls_amg-mersedes_amg-mercedes_benz-1920x1080.jpg') no-repeat  ;

    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(5px);
    padding-top:82px;
}




header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:99;

}



.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
    font-weight: 500;
}

.linkk{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.5s;
    text-decoration: none  ;
}

.linkk:after{
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin:right;
    transform: scaleX(0);
    transition: transform .5s;

}

.linkk:hover:after{
    transform-origin:left;
    transform: scaleX(1);
}

.linkk:hover{
    color: white;
}

.btnLogin-popup{
    display: inline-block;
    text-align: center;

    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    transition: .5s;
}

.btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}


.nav-item{
    display: inline-block;
    text-align: center;

    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    transition: .5s;
}

.nav-item:hover{
    background: #fff;
    color: #162938
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 500px;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 1px 1px 4px rgba(14, 14, 14, 0.4);
    border: 7px solid rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px 2px #000;
    color: #fff;
    background: inherit;
    font-family: sans-serif;
    backdrop-filter: blur(5px);
    padding-right: 121px;
}

.text{
    font-size: 20px;
    margin-left: 115px;
    text-align: justify;
}

.content * {
    position: relative;
}

.content:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px);
}

.text{
    text-align: center;
}

.Matok{
    color:#0b5ed7;
}

.money{
    color:green;
}

.footer{
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 50px;
    border-radius: 15px;
    margin: 10px auto;
    box-shadow: 1px 1px 4px rgba(14, 14, 14, 0.4);
    border: 7px solid rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px 2px #000;
    color: #fff;
    background: inherit;
    font-family: sans-serif;
    backdrop-filter: blur(5px);
    padding-right: 121px;
}

.text__footer{
    font-size: 20px;
    font-weight: 900;
    color: #0b5ed7;
}