.content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}


.order__back{
    width: 350px;
    height: 310px;
    align-items: center;
    border-radius: 15px;
    border: 7px solid rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 4px rgba(14, 14, 14, 0.4);
    background-image: url("https://bogatyr.club/uploads/posts/2023-06/thumbs/1686951485_bogatyr-club-p-mersedes-krasivii-chernii-foni-instagram-13.jpg"); 

    background-size: cover;
    background-position: center;
    z-index: -1;
    
}




.order__car-title{
    color: white;
    text-align: center;
    
    transition: font-size 0.3s;
}

.order__car-title:hover{
    font-size: 30px;
    
}

.order__car-text-1{
    color: #fff;
    text-align: center;
    padding-top: 16px;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 45px;
    
    transition: color .3s;
}

.order__car-text-1:hover{
    color:	rgb(220,20,60);
}

.order__car-text-2{
    color: #fff;
    text-align: center;
    padding-top: 16px;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 45px;
   

    transition: color .3s;
}

.order__car-text-2:hover{
    color:	rgb(220,20,60);
}

.order__car-text-3{
    color: #fff;
    text-align: center;
    padding-top: 16px;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 45px;


    transition: color .3s;
}

.order__car-text-3:hover{
    color:	rgb(220,20,60);
}



.order__car-btn{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding-right: 22px;
    padding-left: 26px;
    margin-left: -4px;
    font-size: 26px;
    font-family: 'Roboto Slab', serif;

    transition: .5s, color 0.3s, font-weight 0.3s; 
   

} 

.order__car-btn:hover{
    background: #fff;
    color: red ; /* #162938 */
    font-weight: 900;
    
}


.btn{
    display: flex;
    margin-top: -30px;
    backdrop-filter: blur(3px);
}

.order__back-2{
    width: 350px;
    height: 310px;
    align-items: center;
    border-radius: 15px;
    border: 7px solid rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 4px rgba(14, 14, 14, 0.4);
    background-image: url("https://bogatyr.club/uploads/posts/2023-06/thumbs/1687165608_bogatyr-club-p-temnie-oboi-bmv-instagram-5.jpg");

    background-size: cover;
    background-position: center;
    z-index: -1;
}

.order__back-3{
    width: 350px;
    height: 310px;
    align-items: center;
    border-radius: 15px;
    border: 7px solid rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 4px rgba(14, 14, 14, 0.4);
    background-image: url("https://fons.pibig.info/uploads/posts/2023-05/1685552889_fons-pibig-info-p-audi-na-chernom-fone-krasivii-1.jpg");

    background-size: cover;
    background-position: center;
    z-index: -1;
}





