@{
    ViewData["Title"] = "Головна";
}

<!--Styles-->
<link rel="stylesheet" href="css/header.css" asp-append-version="true">
<link rel="stylesheet" href="css/main_page.css" asp-append-version="true">
<link rel="stylesheet" href="css/about_us.css" asp-append-version="true">

<link rel="website icon" type="jpg" href="css/Photo/logo.jpg"> 

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">
    
<header>
    <h1 class="logo"><a asp-controller="Home" asp-action="Index">MatokCars</a></h1>
    <nav class="navigation">
        <a asp-controller="Home" asp-action="Index" class="linkk">Головна</a>
        <a asp-controller="AboutUs" asp-action="Index" class="linkk">Про нас</a>
        <a asp-controller="OrderCar" asp-action="Index" class="linkk" >Замовити</a>
        <a asp-controller="SellCar" asp-action="Index" class="linkk" >Продати</a>
        <a asp-controller="CarForSell" asp-action="Index" class="linkk" >В продажі</a>
        <partial name="_LoginPartial"/>
    </nav>
</header>

<div class="contentik">
    
    <div class="order">
        <div class="order__back">
            <div class="back-img">
                <div class="order__car">
                    <h3 class="order__car-title">Замовляйтe машину прям зараз</h3>
                    <p class="order__car-text-1">Якщо нема автомобіля в наявності, не переживайте!</p>
                </div>
                <div class="btn-1">
                    <a asp-controller="OrderCar" asp-action="Index" class="order__car-btn">Замовити автомобіль</a>
                </div>
            </div>    
        </div>
    </div>
    
    <div class="order">
        <div class="order__back-2">
            <div class="back-img">
                <div class="order__car">
                    <h3 class="order__car-title">Додати машину на продаж</h3>
                    <p class="order__car-text-2">Якщо хочете продати свій автомобіль, це не проблема!</p>
                </div>
                <div class="btn-2">
                    <a asp-controller="SellCar" asp-action="Index" class="order__car-btn">Продати автомобіль</a>
                </div>
            </div>    
        </div>
    </div>    
    
    <div class="order">
        <div class="order__back-3">
            <div class="back-img">
                <div class="order__car">
                    <h3 class="order__car-title">Автомобілі в наявності</h3>
                    <p class="order__car-text-3">Можна подивитися, які автомобілі є!</p>
                </div>
                <div class="btn-3">
                    <a asp-controller="CarForSell" asp-action="Index" class="order__car-btn-1">Подивитися автомобілі</a>
                </div>
            </div>    
        </div>
    </div>
</div>


