@{
    ViewData["Title"] = "Машини в продажі";
}

<link rel="stylesheet" href="/css/car_for_sell.css" asp-append-version="true">
<link rel="stylesheet" href="/css/header.css" asp-append-version="true">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">


<header>
    <h1 class="logo"><a asp-controller="Home" asp-action="Index">MatokCars</a></h1>
    <nav class="navigation">
        <a asp-controller="Home" asp-action="Index" class="linkk">Головна</a>
        <a asp-controller="AboutUs" asp-action="Index" class="linkk">Про нас</a>
        <a asp-controller="OrderCar" asp-action="Index" class="linkk" >Замовити</a>
         <a asp-controller="SellCar" asp-action="Index" class="linkk" >Продати</a>
        <partial name="_LoginPartial"/>
    </nav>
</header>

<section class="sell">
    <form>
        <div class="sell__form">
            <h2 class="sell__title">Виберіть яким способом хочете подивитися автомобілі в продажі</h2>
            <div class="btns">
                  <button asp-controller="CategoryCarForSell" asp-action="Index" class="choose__option">Вибрати критерії пошуку</button>
                  <button asp-controller="AllCarForSell" asp-action="Index" class="choose__option_2">Подивитися все, що продається</button>
            </div>
        </div>        
    </form>
</section>