@using Matoc_Cars.Enum
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model NameCar

@{
    ViewData["Title"] = "Замовлення автомобіля";
}

<link rel="stylesheet" href="css/header.css" asp-append-version="true">
<link rel="stylesheet" href="css/order_car.css" asp-append-version="true">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <header>
      <h1 class="logo"><a asp-controller="Home" asp-action="Index">MatokCars</a></h1>
      <nav class="navigation">
          <a asp-controller="Home" asp-action="Index" class="linkk">Головна</a>
          <a asp-controller="AboutUs" asp-action="Index" class="linkk">Про нас</a>
          <a class="linkk" href="">Продати</a>
          <a class="linkk" href="">В продажі</a>
          <partial name="_LoginPartial"/>
      </nav>
  </header>

<form method="post">
    <div class="car__order-photo">
        <div class="car__order-content">
            <h2 class="car__order-title">Марка автомобіля</h2>
            <div class="select-con">
                <select asp-for="NameOfCar" class="select" asp-items="Html.GetEnumSelectList<NameOfCars>()"></select>
            </div>
            <button asp-controller="OrderCar" asp-action="Index" class="order__car-btn">Обрати автомобіль</button>
        </div>
    </div>
</form>










