@using Matoc_Cars.Enum
@model Matoc_Cars.Models.CarSale.SaledCar

@{
    ViewData["Title"] = "Пошук машини";
}

<link rel="stylesheet" href="css/header.css" asp-append-version="true">
<link rel="stylesheet" href="css/car_for_sell.css" asp-append-version="true">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">

<header>
    <h1 class="logo"><a asp-controller="Home" asp-action="Index">MatokCars</a></h1>
    <nav class="navigation">
        <a asp-controller="Home" asp-action="Index" class="linkk">Головна</a>
        <a asp-controller="AboutUs" asp-action="Index" class="linkk">Про нас</a>
        <a class="linkk" href="">Замовити</a>
        <a class="linkk" href="">Продати</a>
        <partial name="_LoginPartial"/>
    </nav>
</header>


<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

<!-- Swiper -->
<form method="post">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <h2 class="slide-title">Виберіть автомобіль, який хочете купити</h2>
                <div class="model">
                    <label class="label__model">Виберіть марку автомобіля</label>
                    <select asp-for="NameOfCar" class="select__model" asp-items="Html.GetEnumSelectList<NameOfCars>()"></select>
                </div>
                <button class="btn__next">Далі</button>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</form>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
      cssMode: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
    });
  </script>
