@using Microsoft.AspNetCore.Identity
@using Matoc_Cars.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
//  <li class="nav-item">
  //      <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
 //   </li>
    
        <form id="logoutForm"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <a class="btnLogin-popup" asp-controller="Profile" asp-action="Index">Профіль</a>
            <button type="submit" id="logout" class="btnLogin-popup">Вийти</button>
        </form>
    //Убрати форму і всякі такі дєла
}
else
{

        <a class="btnLogin-popup" id="login" asp-area="Identity" asp-page="/Account/Login">Увійти</a>
    
}

