@{
    ViewData["Title"] = "Про нас";
}


<link rel="stylesheet" href="css/about_us.css" asp-append-version="true">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">


<header>
    <h2 class="logo">MatokCars</h2>
    <nav class="navigation">
        <a class="linkk" asp-controller="Home" asp-action="Index">Головна</a>
        
        <a class="linkk" href="">Шось</a>
        <a class="linkk" href="">Шось2</a>
        <partial name="_LoginPartial"/>
    </nav>
</header>

    
<div class="content">
    <h1>Про нас</h1>
    <p class="text">Ласкаво просимо до <span class="Matok">MatokCars</span> - вашого надійного партнера у світі автомобільних покупок!<br>
                    
        <span class="Matok">MatokCars</span> - це компанія, яка зосереджена на наданні найкращих можливих варіантів автомобільних покупок для наших клієнтів. Наша місія - зробити процес придбання автомобіля простим, безпечним і задовільним. 

                    
        Довірте <span>MatokCars</span> своїй мрії про ідеальний автомобіль, і ми зробимо все можливе, щоб зробити її реальністю. Долучіться до нашої родини клієнтів і відчуйте різницю в обслуговуванні та якості!
                    
        Дякуємо за вашу довіру і сподіваємося побачити вас в нашому автосалоні найближчим часом.</p>
</div>

<footer class="footer">
    <p class="text__footer">Для того щоб задати питання нам, напишіть на почту matok2004k@gmail.com</p>
</footer>