@using Matoc_Cars.Enum
@model Matoc_Cars.Models.SellCar.SellCarModel

@{
    ViewData["Title"] = "Продати свій автомобіль";
}

<link rel="stylesheet" href="css/header.css" asp-append-version="true">
<link rel="stylesheet" href="css/sell_car.css" asp-append-version="true">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">

<header>
    <h1 class="logo"><a asp-controller="Home" asp-action="Index">MatokCars</a></h1>
    <nav class="navigation">
        <a asp-controller="Home" asp-action="Index" class="linkk">Головна</a>
        <a asp-controller="AboutUs" asp-action="Index" class="linkk">Про нас</a>
        <a asp-controller="OrderCar" asp-action="Index" class="linkk" >Замовити</a>
        <a asp-controller="CarForSell" asp-action="Index" class="linkk" >В продажі</a>
        <partial name="_LoginPartial"/>
    </nav>
</header>

<section class="sell">
    <form method="post">
        <div class="sell__form">
            @if (!User.Identity.IsAuthenticated)
            {
                <style>
                    body{
                        background: url("https://i.pinimg.com/originals/bb/71/c4/bb71c409c2c1123cab54eef63cc05fc2.jpg");
                        background-size: cover;
                    }
                </style>
                <h2 class="sell__title">Помилка</h2>
                <h3 class="car__order-error">Ви не увійшли в акаунт. Увійдіть в акаунт, якщо вже зареєстровані. Якщо не маєте акаунту, то пройдіть <br> <a asp-area="Identity" asp-page="/Account/Register" class="register-link" >реєстрацію</a></h3>                
            }
            else
            {
                <h2 class="sell__title">Виберіть машину, яку хочете продати</h2>
                <select asp-for="NameOfCar" class="select__car" asp-items="Html.GetEnumSelectList<NameOfCars>()"></select>
                <button class="sell__btn-choose-car">Далі</button>                
            }

        </div>        
    </form>

</section>
